.column {
    width: 300px;
    height: min-content;
    flex-shrink: 0;
    background-color: var(--background-column);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--text-bold);
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.column h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.column.todo h2 .addTask .column.done h2 .trashIcon {
    margin-left: auto;
}

.addTask {
    margin-left: auto;
    cursor: pointer;
    color: var(--text-regular);
    font-size: 14px;
}

.addTask:hover, .addTask:active {
    transition: ease 0.3s;
    color: var(--blue);

}

.trashButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    margin-left: auto;
}

.trashButton:hover .trashIcon path {
    fill: var(--blue);
    transition: 400ms;
}

.clearButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newTaskForm {
    background-color: var(--background-task);
    padding: 10px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    position: relative;
}

.input {
    height: 18px;
    color: var(--text-bold);
    border: 1px solid #FFFFFF80;
    background-color: transparent;
    outline: none;
    padding: 5px;
    border-radius: 4px;
    caret-color: var(--blue);
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: var(--blue);
}

.actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.saveButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;

}

.cancelButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;

}

.circle {
    background-color: var(--circle-default);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover, .circle:active {
    transition: 400ms;
    background-color: var(--circle-active)
}
