.column {
    width: 22%;
    min-width: 250px;
    height: min-content;
    min-height: 150px;
    flex-shrink: 0;
    background-color: var(--background-column);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    transition: all 0.2s ease;
    font-family: Inter, sans-serif;
}

@media (max-width: 1200px) {
    .column {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .column {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .column {
        width: 100%;
    }
}


.tasks.expanded {
    height: 110%;
    background-color: var(--background-task);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--text-bold);
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    min-height: 100px;
    transition: all 0.2s ease;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.column h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.column.todo h2 .addTask .column.done h2 .trashIcon {
    margin-left: auto;
}

.addTask {
    margin-left: auto;
    cursor: pointer;
    color: var(--text-regular);
    font-size: 14px;
}

.addTask:hover, .addTask:active {
    transition: ease 0.3s;
    color: var(--blue);

}

.trashButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    margin-left: auto;
}

.trashIcon {
    fill: #FFFFFFCC;
}

.trashButton:hover .trashIcon path {
    fill: var(--blue);
    transition: 400ms;
}

.trashIcon.expanded {
    fill: var(--red)
}

.clearButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newTaskForm {
    background-color: var(--background-task);
    padding: 10px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    position: relative;
}

.input {
    margin-left: 5px;
    height: 10px;
    margin-bottom: 10px;
    color: var(--text-bold);
    border: 1px solid #FFFFFF80;
    background-color: transparent;
    outline: none;
    padding: 2px;
    border-radius: 4px;
    caret-color: var(--blue);
    transition: border-color 0.3s ease;
}

.input:focus, .inputArea:focus {
    border-color: var(--blue);
}

.input:hover {
    border-color: var(--blue);
}

.inputArea:hover {
    border-color: var(--blue);
}

.inputArea {
    margin-left: 5px;
    min-height: 40px;
    resize: vertical;
    margin-bottom: 10px;
    color: var(--text-bold);
    border: 1px solid #FFFFFF80;
    background-color: transparent;
    outline: none;
    padding: 2px;
    border-radius: 4px;
    caret-color: var(--blue);
    transition: border-color 0.3s ease;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.saveButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;

}

.cancelButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;

}

.circle {
    background-color: var(--circle-default);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover, .circle:active {
    transition: 400ms;
    background-color: var(--circle-active)
}


.field {
    display: flex;
}