@import './variables.css';

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

body {
    background-image: url('../assets/img/background.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}


@media (max-width: 768px) {
    .board {
        gap: 12px;
    }
}

@media (min-width: 1920px) {
    .taskboard {
        margin-right: auto;
        margin-left: auto
    }
}
