:root {
    --blue: #0184CF;
    --red: #FC363999;
    --background-column: #000000B2;
    --background-task: #FFFFFF1A;
    --text-regular: #FFFFFF99;
    --text-bold: #FFFFFFDE;
    --circle-active: #FFFFFF33;
    --circle-default: #FFFFFF14 ;
}