.taskboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

@media (max-width: 768px) {
    .taskboard {
        padding: 8px;
    }
}

h1 {
    font-size: 40px;
    color: var(--text-bold);
    font-family: Inter, sans-serif;
}

.searchWrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-family: Inter, sans-serif;
    padding: 16px;
}

.searchInput {
    outline: none;
    color: var(--text-regular);
    background-color: var(--background-task);
    height: 35px;
    width: 21%;
    border: 1px solid #FFFFFF4D;
    align-items: center;
    border-radius: 20px;
    padding-left: 50px;
    background-image: url('../../assets/icons/search.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    font-family: Inter, sans-serif;
}

.searchInput:hover {
    border-color: var(--blue);
}

.searchInput:focus {
    border: 4px solid #0184CF80;
    box-shadow: 0 0 5px rgba(1, 132, 207, 0.5);
}

