body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/img/background.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}